<%= simple_form_for(@tweeet) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <lable>Tweeet about it</lable>
      <div class="tweeet" id="tweeet" contenteditable="true" autofocus="true" ></div>
      <%= f.hidden_field :tweeet, label: "Tweeet about it", input_html: { class: "textarea ", required: true}, id: "tweeetTextArea", wrapper: false, label_html: {class: "label"}, placeholder: "Compose a new tweeet...", maxlength: 280, autofocus: true %>
    </div>
  </div>
  <p style="margin-top: 10%"></p>
  <%= f.button :submit, class: "button is-info", id: "createTweet", onclick: "return validateForm()" %>
<% end %>


<script>
    let tweeet = document.getElementById('tweeet');
    let tweeetTextArea = document.getElementById("tweeetTextArea");
    let submitTweet = document.getElementById("createTweet");
    let tweeetLimit = 280;
    console.log(tweeetTextArea.value);
    tweeet.textContent = tweeetTextArea.value;
    tweeet.onkeyup = function () {
        manageTweeetLength();
    };

    function appendChildNodeToTweeet(newTweeet) {
        let content = document.createElement('span');
        let extra = document.createElement('span');
        content.textContent = newTweeet.slice(0, tweeetLimit);
        extra.textContent = newTweeet.slice(tweeetLimit, newTweeet.length);
        extra.style.color = 'red';
        tweeet.appendChild(content);
        tweeet.appendChild(extra);
    }

    function moveCursorToEnd() {
        let s = window.getSelection();
        let r = document.createRange();
        r.setStart(tweeet, tweeet.childElementCount);
        r.setEnd(tweeet, tweeet.childElementCount);
        s.removeAllRanges();
        s.addRange(r);
    }

    function manageTweeetLength() {
        let newTweeet = tweeet.textContent;
        if (newTweeet.length > tweeetLimit) {
            tweeet.textContent = null;
            appendChildNodeToTweeet(newTweeet);
            tweeetTextArea.value = newTweeet.slice(0, tweeetLimit);
            submitTweet.disabled = true;
            moveCursorToEnd();
            return;
        }
        tweeetTextArea.value = newTweeet;
        submitTweet.disabled = false;
    }

    function validateForm() {
        manageTweeetLength();
        console.log(tweeetTextArea.value);
        if (tweeetTextArea.value < 1 || tweeetTextArea.value == null) {
            alert("Tweeet cannot be empty!!");
            return false;
        }
        return true;
    }
</script>