<%= simple_form_for(@tweeet) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <lable>Tweeet about it</lable>
      <div class="tweeet" id="tweeet" contenteditable="true" ></div>
      <%= f.hidden_field :tweeet, label: "Tweeet about it", input_html: {class: "textarea", required: true}, id: "tweeetTextArea", wrapper: false, maxlength: 150, autofocus: true %>
    </div>
  </div>
  <%= f.button :submit, class: "button is-info", id: "createTweet", onclick: "return validateForm()" %>
<% end %>


<script >
    let tweeet = document.getElementById('tweeet');
    let tweeetTextArea = document.getElementById("tweeetTextArea");
    let submitTweet = document.getElementById("createTweet");
    submitTweet.disabled = true;
    tweeetTextArea.value = null;

    tweeet.onkeyup = function () {
        manageTweeetLength();
    };

    function manageTweeetLength() {
        let newTweeet = tweeet.textContent;
        if(newTweeet.length > 150){
            tweeet.textContent = "";
            let content = document.createElement('span');
            let extra = document.createElement('span');
            content.textContent = newTweeet.slice(0, 150);
            extra.textContent = newTweeet.slice(150, newTweeet.length);
            extra.style.color = 'red';
            tweeet.appendChild(content);
            tweeet.appendChild(extra);
            tweeetTextArea.value = newTweeet.slice(0, 150);
            submitTweet.disabled = true;
            let s = window.getSelection();
            let r = document.createRange();
            r.setStart(tweeet, tweeet.childElementCount);
            r.setEnd(tweeet, tweeet.childElementCount);
            s.removeAllRanges();
            s.addRange(r);
        }
        else {
            tweeetTextArea.value = newTweeet;
            submitTweet.disabled = false;
        }
    }

    function validateForm() {
        manageTweeetLength();
        console.log(tweeetTextArea.value);
        if(tweeetTextArea.value <1 || tweeetTextArea.value == null){
            alert("Tweeet Length should'nt be zero");
            return false;
        }
        return true;
    }
</script>