<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block" href="https://medium.com/activewizards-machine-learning-company/the-top-10-technology-trends-of-2018-5fce940c7ce6">
			Artificial intelligence
		</a>
		<a class="panel-block" href="https://medium.com/activewizards-machine-learning-company/the-top-10-technology-trends-of-2018-5fce940c7ce6">
			Blockchain
		</a>
		<a class="panel-block" href="https://medium.com/activewizards-machine-learning-company/the-top-10-technology-trends-of-2018-5fce940c7ce6">
			IOT
		</a>
	</nav>
</div>