<section class="section">
  <div class="container">
    <div class="columns">
      <% @user ||= current_user %>
    	<%= render 'profile' %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
    </div>
  </div>
</section>